* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
}
.container {
	margin: 0 4rem;
}
.flex {
	display: flex;
	justify-content: center;
}

.line {
	border-right: 1px solid black;
}
.main {
	display: flex;
	margin-top: 2rem;
	border: 1px solid black;
}
.border {
	padding: 0.5rem 0.5rem;
	width: 33%;
	border-right: 1px solid black;
}

.flex-elements {
	width: 65%;
	display: flex;
	padding: 1rem 1.5rem;
	flex-direction: column;
	gap: 2rem;
}
footer {
	margin-top: 2rem ;
	background-color: black;
	color: #37b2d1;
	display: flex;
	padding: 1rem;
	justify-content: center;
}
@media (max-width: 512px) {
	
    .border{
        width: 38%;
    }
	
    .flex-elements{
        padding: 1rem 1.5rem;
        width: 60%;
    }
}
@media (max-width: 376px) {
	.container {
		margin: 0rem 1rem;
	}
	
	.flex-elements {
		padding: 1rem 1.2rem;
	}
}
